body{
    background:whitesmoke;
    color: black;
  
}


/* Header **/
header{
    background:green ;
    color: black;
    padding: 20px 70px 5px 4px ;
    margin: -7px;
    border-color: black;
    border-bottom-style: solid;
}

footer{
    padding: 5px;
    margin-top:-7 ;
    color:gold;
    background-color:blue ;
    text-align: center;
}